.hero-header {
    background: linear-gradient(rgba(173, 216, 230, .9), rgba(0, 0, 0, .5)), url(../assets/bg-home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rotating-image {
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate { 
    100% { 
        transform: rotate(360deg); 
    } 
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(173, 216, 230, .5);
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.breadcrumb-item {
    color: rgba(173, 216, 230, .9);
}

.breadcrumb-item:hover {
    color: #fea116;
} 